<div *ngIf="isLoading$ | async" class="container spacer">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!(isLoading$ | async)" class="container">
  <div class="container__inner">
    <ng-container *ngFor="let book of books$ | async">
      <app-book-card
        [bookData]="book"
        (edit)="openDialog($event)"
        (remove)="openRemoveConfirmationDialog($event)"
      ></app-book-card>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
  <app-icon-button
    (open)="openDialog()"
    icon="add"
    label="Добавить"
  ></app-icon-button>
</div>
